/********************************************************************************************************
****************************************SKARTIF PRIVATE LIMITED******************************************
********************************************Web Style Sheets*********************************************
********************************************************************************************************/

/*/////////////////////////////////////////////////////////////////////
Style Sheet: order.css
Used For: orderconfirmation and orderhistory page
Created by: Swapnil Chavan
Creadted Date: 5 Aug 2018
/////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////
///////////////Order Confirmation Page////////////////
////////////////////////////////////////////////////*/

body {
    font-family: 'Lato', sans-serif;
}

.order-confirm-sec {
    margin-top:50px;
}

/*/////////////////////////Order Confirmation Message Block///////////////////////*/

.ord-confirm-msg-block {
    margin-bottom:30px;
    margin-top:20px;
    background:white;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
}

/*Order Confirmation message body*/
.ord-confirm-msg-head {
    color:#3c9bed;
    padding-top:20px;
    padding-left:20px;
    padding-bottom:10px;
}
.ord-confirm-msg-ship {
    font-size:15px;
    padding-left:20px;
    padding-bottom:5px;
    padding-top:5px;
}
.ord-confirm-msg-track {
    font-size:15px;
    padding-left:20px;
    padding-bottom:5px;
    padding-top:5px;
}
/*Order Confirmation message body Mobile Screen Responsive Style*/
@media (max-width:760px) {
    .ord-confirm-msg-head, .ord-confirm-msg-ship, .ord-confirm-msg-track {
        padding-left:0px;   
    }
}

/*/////////////////////////////////////////////////////////////////////////////////*/




/*//////////////////////////Order Delivery Address Block//////////////////////////*/
.del-add-block {
    margin-bottom:30px;
    margin-top:20px;
    background:white;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
}

/*Order Delivery Address Display*/
.del-add-title {
    padding:15px;
    font-size:20px;
    color:#3c9bed;
}
.del-add-nm {
    padding-left:15px;
    font-size:14px;
    color:black;
    font-weight:bold;
}
.del-add-address,.del-add-contact {
    padding-left:15px;
    font-size:14px;
    color:black;
}

/*///////////////////////////////////////////////////////////////////////////////*/





/*////////////////////////Order Product List Display/////////////////////////////*/

.order-prod-list-block{
    margin-bottom:30px;
    margin-top:20px;
    background:white;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
}

/*Product List*/

.order-prod-list-title{
    font-weight:bold;
    padding-left:20px;
    color:#3c9bed;
}
.order-prod-img,.order-prod-qty,.order-prod-prc {
    width:18%;
    display:inline-block;
    text-align:center;
}
.order-prod-nm {
    width:40%;
    display:inline-block;
}

/*Product List Mobile Screens Responsive styling*/

@media (max-width:760px) {
    .order-prod-list-title {
        padding-left: 0px;
    }

    .order-prod-img {
        width: 30%;
        display: inline-block;
    }
    .order-prod-nm {
        width: 65%;
        display: inline-block;

    }
    .order-prod-qty, .order-prod-prc {
        width: 40%;
        display: inline-block;
    } 
}

/*/Product List Total Price*/
.order-prod-tot-prc-left{
    width:70%;
    display:inline-block;
    padding-left:20px;
}
.order-prod-tot-prc-right{
    font-weight:bold;
    color:#3c9bed;
    width:25%;
    display:inline-block;
}

/*/Product List Total Price Mobile Screens Responsive styling*/

@media (max-width:760px) {
    .order-prod-tot-prc-left {
        width: 35%;
        display: inline-block;
        padding-left:0px;
    }
    .order-prod-tot-prc-left {
        width: 60%;
        display: inline-block;
    }
}



/*/////////////////////////////////////////////////////////////////////////////////*/










/*////////////////////////////////////////////////////
//////////////////Order History Page//////////////////
////////////////////////////////////////////////////*/

.order-history-sec{
    margin-top:60px;
    margin-bottom:40px;
}

/*Order history head*/
.order-history-title {
    color:#3c9bed;
    padding-top:20px;
    padding-left:20px;
    padding-bottom:10px;
    font-family:'Cinzel', sans-serif;
    font-weight:700;
}

/*//////////////////////////Order history block/////////////////////////////*/

.order-history-list-wrap {
padding-top:10px;
padding-bottom:15px;
font-family: 'Lato', sans-serif;
font-size:15px;
}


/*Order history reference div*/
.order-history-ref{
    border: 1px solid #bbb5b5;
    padding: 10px;
    background-color:aliceblue;
}
.order-history-ref-number {
    width:20%;
    display:inline-block;
}
.order-history-ref-date, .order-history-ref-pymt {
    width:28%;
    display:inline-block;
}
.order-history-ref-track {
    width:20%;
    display:inline-block;
    text-align:right;
}
/*Order history reference Mobile screen styling*/
@media (max-width:760px) {
    .order-history-ref {
        border: 1px solid #bbb5b5;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: aliceblue;
    }

    .order-history-ref-number {
        width: 30%;
        display: inline-block;
        vertical-align:middle;
    }

    .order-history-ref-date {
        width: 65%;
        display: inline-block;
        text-align:right;
        vertical-align:middle;
    }

    .order-history-ref-pymt {
        width: 75%;
        display: inline-block;
        vertical-align:middle;
    }

    .order-history-ref-track {
        width: 20%;
        display: inline-block;
        vertical-align:middle;
    }
}

/*Order history product list*/
.order-history-prod-list {
    border-bottom: 1px solid #bbb5b5;
    border-left: 1px solid #bbb5b5;
    border-right: 1px solid #bbb5b5;
    padding: 10px;
}
.order-history-prod-img {
    width:18%;
    display:inline-block;
    text-align:center;
}
.order-history-prod-status {
    width:23%;
    display:inline-block;
    text-align:justify;
    font-size:15px;
}
.order-history-prod-qty, .order-history-prod-prc {
    width:10%;
    display:inline-block;
    text-align:center;
}
.order-history-prod-nm {
    width:35%;
    display:inline-block;
}
/*Order history product list mobile screen styling*/
@media (max-width:760px) {
    .order-history-prod-list {
        border-bottom: 1px solid #bbb5b5;
        border-left: 1px solid #bbb5b5;
        border-right: 1px solid #bbb5b5;
        padding-top:10px;
        padding-bottom:10px;
    }

    .order-history-prod-img {
        width: 30%;
        display: inline-block;
        text-align: center;
        vertical-align:middle;
    }

    .order-history-prod-status {
        width: 64%;
        display: inline-block;
        text-align: center;
        font-size: 13px;
        vertical-align:middle;
    }

    .order-history-prod-qty {
        width: 14%;
        display: inline-block;
        text-align: center;
        vertical-align:middle;
        font-size: 13px;
    }

    .order-history-prod-prc{
        width: 18%;
        display: inline-block;
        text-align: center;
        vertical-align:middle;
        font-size: 13px;
    }

    .order-history-prod-nm {
        width: 65%;
        display: inline-block;
        vertical-align:middle;
    }
}